<h1>About Us...</h1>
Welcome to Friend App - An application where you can keep a log of
your close friends and their contact information.
<br/>
To get started, simply sign up with your email and password, and start adding friends! 